body{
    background: #02003a;
    color: antiquewhite;
    font-family: "Aldrich", sans-serif;
}

#title{
    text-align: center;
    background: #2d0068;
}

#checklist{
    box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    font-size: 14px;
    background-color: antiquewhite;
    border: 5px solid #aa3904;
    border-radius: 5px;
    color: black;
}


input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

#result{
    box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    font-size: 14px;
    background-color: antiquewhite;
    border: 5px solid #aa3904;
    border-radius: 5px;
    color: black;
}

.button {
  background-color: #aa3904;
  border: none;
  color: white;
  padding: 10px 200px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.aldrich-regular {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}


